<%- include('../partials/pages/header', {title: "Dashboard"}); %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>Approved</h3>

                <p>Application Status</p>
              </div>
              <div class="icon">
                <i class="fas fa-hand-pointer"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>20,000</h3>

                <p>Amount Paid</p>
              </div>
              <div class="icon">
                <i class="fas">&#8358;</i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>400,000</h3>

                <p>Amount Remaining</p>
              </div>
              <div class="icon">
                <i class="fas">&#8358;</i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>12</h3>

                <p>Payback period</p>
              </div>
              <div class="icon">
                <i class="fas fa-calendar-check"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Available Sponsorship</h5>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card card-success">
                      <div class="card-body">
                        <div class="row">
                          
                          <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card mb-2 bg-gradient-dark">
                              <img class="card-img-top" src="<%= publicPath %>img/panel.webp" alt="Dist Photo 1">
                              <div class="card-img-overlay d-flex flex-column justify-content-end">
                                <h5 class="card-title text-bold text-white">1.5KW Solar Installation at Abeokuta </h5>
                                <p class="card-text text-white pb-2 pt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                                
                                <span class="badge bg-success">Investment is open</span>
                              </div>
                            </div>
                            <div class="card-footer p-0 m-0">
                              <ul class="nav flex-column">
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Total Cost <span class="float-right badge bg-success">&#8358; 3,000,000</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Price per unit <span class="float-right badge bg-success">&#8358; 5,000</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Total Unit <span class="float-right badge bg-info">500</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Unit Available <span class="float-right badge bg-danger">250</span>
                                  </a>
                                </li>
                              </ul>

                              <a href="/sponsor/1.5kva-installation" class="btn btn-block btn-success btn-sm">Invest</a>
                            </div>
                          </div>
                          
                          <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card mb-2 bg-gradient-dark">
                              <img class="card-img-top" src="<%= publicPath %>img/panel.webp" alt="Dist Photo 1">
                              <div class="card-img-overlay d-flex flex-column justify-content-end">
                                <h5 class="card-title text-bold text-white">1.5KW Solar Installation at Abeokuta </h5>
                                <p class="card-text text-white pb-2 pt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                                
                                <span class="badge bg-success">Investment is open</span>
                              </div>
                            </div>
                            <div class="card-footer p-0 m-0">
                              <ul class="nav flex-column">
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Total Cost <span class="float-right badge bg-success">&#8358; 3,000,000</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Price per unit <span class="float-right badge bg-success">&#8358; 5,000</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Total Unit <span class="float-right badge bg-info">500</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Unit Available <span class="float-right badge bg-danger">250</span>
                                  </a>
                                </li>
                              </ul>

                              <a href="/sponsor/1.5kva-installation" class="btn btn-block btn-success btn-sm">Invest</a>
                            </div>
                          </div>
                          
                          <div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card mb-2 bg-gradient-dark">
                              <img class="card-img-top" src="<%= publicPath %>img/panel.webp" alt="Dist Photo 1">
                              <div class="card-img-overlay d-flex flex-column justify-content-end">
                                <h5 class="card-title text-bold text-white">1.5KW Solar Installation at Abeokuta </h5>
                                <p class="card-text text-white pb-2 pt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                                
                                <span class="badge bg-success">Investment is open</span>
                              </div>
                            </div>
                            <div class="card-footer p-0 m-0">
                              <ul class="nav flex-column">
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Total Cost <span class="float-right badge bg-success">&#8358; 3,000,000</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Price per unit <span class="float-right badge bg-success">&#8358; 5,000</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Total Unit <span class="float-right badge bg-info">500</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#" class="nav-link">
                                    Unit Available <span class="float-right badge bg-danger">250</span>
                                  </a>
                                </li>
                              </ul>

                              <a href="/sponsor/1.5kva-installation" class="btn btn-block btn-success btn-sm">Invest</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- /.chart-responsive -->
                  </div>

                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
              
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
<%- include('../partials/pages/footer'); %>
